@CHARSET "UTF-8";

$big-screen: 'min-width: 760px';

html, body {
  margin : 0;
  padding: 0;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
  box-sizing:border-box;
}

/* make image-bg div to display behind content, must be div, can't be on body beause body might be less than window height */
.image-bg {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-position: center center;
  background-size: cover;
  background-image: url(../images/bookclub.jpg);

  .alt-img {
    background-image: url(../images/british-countryside.jpg);
  }

  @media ($big-screen) {
    background-image: url(../images/tea-building.jpg);
  }

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* set default font */
h1, h2, h3, h4, h5, h6, p, ul, li, form, input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* navbar */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFF;
  padding: 1em;

  h1 {
    font-size: 1.2em;
    margin: 0;

  }
  .btn {
    position: relative;
    top: 0.2em;
  }
  @media ($big-screen){
    h1{
      font-size: 2em;
    }
    .btn {
      position: relative;
      top: 0.8em;
    }
    padding: 3em;
  }
}
.nav-left {
  float: left;
}
.nav-right {
  float: right;
}
// make space for nav
body {
  padding-top: 4em;
   @media ($big-screen){
     padding-top: 10em;
   }
}

/* responsive grid elements */
.container{
  max-width: 100%;
  overflow: scroll;
  padding: 1em;
  margin: 0 auto;
  @media ($big-screen){
    max-width: 1280px;
  }
}
.card {
  max-width: 100%;
  overflow: scroll;
  background-color: #FFF;
  margin: 1em;
  padding: 1em;

  h1 {
    margin-top: 0;
    font-weight: 300;
    font-size: 1.2em;
  }
  @media ($big-screen){
    padding: 1.2em;
    h1{
      font-size: 2em;
    }
  }
}


/* buttons */

button, .btn {
  padding: 0.5em 1.2em;
  width: auto;
  font-size: 1em;
  background-color: rgba(230,230,230,0.8);
  color: #000;
  text-decoration: none;

  &:hover {
    background-color: rgba(230,230,230,1);
    text-decoration: none;
  }
}

.btn-primary {
  background-color: #cbe3cd;

  &:hover {
    background-color: #9fe3a5;
  }
}

select {
  background: transparent;
  min-width: 268px;
  padding: 0.5em 1em;
  font-size: 1em;
  line-height: 1.4;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: rgba(230,230,230,.8);
  background-image: url(../images/select-icons.png);
  background-position: right -116px;
  background-repeat: no-repeat;
}

label {
  margin: auto 1em;

  &:first-child {
    margin-left: 0;
  }
}
.col {
  float: left;
}
.half {
  width: 50%;
  margin: 0;
}
.full {
  width: 100%;
}
