@CHARSET "UTF-8";
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

* {
  box-sizing: border-box; }

/* make image-bg div to display behind content, must be div, can't be on body beause body might be less than window height */
.image-bg {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-position: center center;
  background-size: cover;
  background-image: url(//assets.decoded.com/images/bookclub.jpg);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
  .image-bg .alt-img {
    background-image: url(//assets.decoded.com/images/british-countryside.jpg); }
  @media (min-width: 760px) {
    .image-bg {
      background-image: url(//assets.decoded.com/images/tea-building.jpg); } }

/* set default font */
h1, h2, h3, h4, h5, h6, p, ul, li, form, input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

/* navbar */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFF;
  padding: 1em; }
  header h1 {
    font-size: 1.2em;
    margin: 0; }
  header .btn {
    position: relative;
    top: 0.2em; }
  @media (min-width: 760px) {
    header {
      padding: 3em; }
      header h1 {
        font-size: 2em; }
      header .btn {
        position: relative;
        top: 0.8em; } }

body {
  padding-top: 4em; }
  @media (min-width: 760px) {
    body {
      padding-top: 10em; } }

/* responsive grid elements */
.container {
  max-width: 100%;
  overflow: scroll;
  padding: 1em;
  margin: 0 auto; }
  @media (min-width: 760px) {
    .container {
      max-width: 1280px; } }

.card {
  max-width: 100%;
  overflow: scroll;
  background-color: #FFF;
  margin: 1em;
  padding: 1em; }
  .card h1 {
    margin-top: 0;
    font-weight: 300;
    font-size: 1.2em; }
  @media (min-width: 760px) {
    .card {
      padding: 1.2em; }
      .card h1 {
        font-size: 2em; } }


label {
  margin: auto 1em; }
  label:first-child {
    margin-left: 0; }

.col {
  float: left; }

.half {
  width: 50%;
  margin: 0; }

.full {
  width: 100%; }

.axis path {
    fill: none;
    stroke: #777;
    shape-rendering: crispEdges;
}
.axis text {
    font-family: sans-serif;
    font-size: 13px;
}